<h1>Cart#index</h1>
<p>Find me in app/views/cart/index.html.erb</p>


<%#=link_to "Empty cart", @cart, method: :delete, data: { confirm: 'Are you sure?' }%>
<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="cart/destroy">Empty Cart</a>
<ul>

	<table>
	  <thead>
	    <tr>
	      <th>Product</th>
	      <th>Amount</th>
	      <th>Price</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  <tbody>
	   <tr>
      	<%@cart.each do |id, amount|%>
			<%@product=Product.find_by_id(id)%>
			<%@price=@product.price %>
		<li class="product_list">
			<td><%= link_to @product.title,@product%></td>
			<td><%= amount %></td>
			<td><%= number_to_currency(@price) %></td>
			<td><a href='/cart/<%=id%>/remove'>Remove this item</a></td>
		</li>
	<% end %>
</ul>

