<!-- <h1>HOME Page</h1> -->

<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <!-- <h3 class="text-muted">Computer Solutions</h3> -->
        <nav>
          <ul class="nav nav-justified">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#products">Shop</a></li>
          </ul>
        </nav>
 </div>
	<!-- This way rails identify the template that is generated in AngularJS -->
    
	 
     
        <div ng-controller="MainCtrl">
          <div ng-view></div>
        </div>
</div>

 <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
</footer>



  
	