<!-- <h1>HOME Page</h1> -->

<div class="container-fluid page-wrap">
    <div class="row">
      <nav>
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <%if user_signed_in?%>
              <li><a class="header-font font-navbar" href="#home">Log out</a></li>
          <% else %>
            <li><a class="header-font font-navbar" href="#home">Log in</a></li>
            <li><a class="header-font font-navbar" href="#about">Sign Up</a></li>
          <% end %>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons heather-font">MENU</i></a>
        <ul class="right hide-on-med-and-down">
              <li><a class="header-font font-navbar" href="#home">Home</a></li>
              <li><a class="header-font font-navbar" href="https://github.com/karinfdez/shoppingcart-angular" target="_blank">Source Code</a></li>
             <!--  <li><a class="header-font" href="#contact">Contact</a></li> -->
              <li><a class="header-font font-navbar" href="#products">Products</a></li>
              <li><a class="header-font cart-icon" href="#shopping" ng-controller="ShopCtrl"><span class="size-cart"><%= image_tag 'cart.png' %></span><span class='font-navbar'>{{total}}</span></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
             <li><a class="header-font font-navbar" href="#home">Home</a></li>
              <li><a class="header-font font-navbar" href="https://github.com/karinfdez/shoppingcart-angular" target="_blank">Source Code</a></li>
              <!-- <li><a class="header-font font-navbar" href="#contact">Contact</a></li> -->
              <li><a class="header-font font-navbar" href="#products">Shop</a></li>
              <li><a class="header-font font-navbar" href="#shopping" >Shopping Cart</a></li>
        </ul>
      </div>
    </nav>
  </div>


   <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    
	  <div class="container">
        
          <div ng-view></div>
       
      </div>
    </div>

  
<!-- <footer class="site-footer">
      <p>Here goes the icons</p>
</footer> -->




 <!-- <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
</footer> -->



  
	