	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-3">
			
					<div id="circle"></div>
					<div class="home-text">
						<div class="all-content">
							<img class="logo-bulb" src="assets/icologo.png">
							<div class="orange-line"></div>
							<p class="text-presentation">This website was builded using Ruby on Rails to build a JSON REST API that interacts with an AngularJS frontend.
							This application simulates an online store, where you can select some products and add it to the shopping cart and do some modifications, finishing the transaction with a payment through Paypal.</p>
							<div class="orange-line"></div>
						</div>
					</div>
	    </div>
	</div>

