  
  <div class="row first_product_row">
     <a href="/products/new">Create new Product</a>
  </div>
  <div ng-controller="product_list_controller">
   
    <!-- Form to search for specific product -->
    <form class="user_form" name="myForm">
      <input type="text" ng-model="userInput" placeholder="Search Product by Title">
       
    </form>

     <section ng-show="alertDisplayed"> Product added to cart</section>
    <div class="row product_images">
    <!-- Return the product filtering by title of user input. -->
      <div class="col-xs-12 col-md-4 col-lg-4 each_product" ng-repeat="product in products | filter:{title: userInput}">
        
          <h3><a data="{{product.id}}" href="#product/{{product.id}}">{{product.title}}</a></h3>
          <a data="{{product.id}}" href="#product/{{product.id}}"><img ng-src="img/{{product.image}}"></a>
        <h4>{{product.price | currency}}</h4>
        
        <a class="btn btn-primary btn-block" href="/cart/{{product.id}}/add">Add to Cart</a>
 
       <div ng-hide="(products| filter:{title: userInput}).length">No Product Found.</div>
      </div>
     
    </div>
     <!-- Show this message if a product if not found. -->
    <div class="no-product" ng-show="!(products| filter:{title:userInput}).length">No product found</div>

  </div>
    
