<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	Karin, <%= @message.name %> send a message to you:

		   <%= @message.name %>' email: <%= @message.email %>
		   <p>This person wrote:</p><br>

    		<%= @message.content %>
</body>
</html>
