@import "materialize";
@import 'bootstrap-sprockets';
@import 'bootstrap';

  * {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: 'BenchNine', sans-serif;
}
.notice,.alert{
  text-align:center;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.site-footer {
 
  background-color:black;
 	color:white;
}


// Main Page
.header-font{
	 text-transform: uppercase;
	 font-size: 19px;
}

// Product's  page
.first_product_row{
  text-align: center;
}
 .product_images{
  text-align:center;
}
.product_images img{
  width:70%;
}
.product_images a{
  width:50%;
  text-align:center;
  margin:auto;
}
.each_product{
  padding-bottom:30px;
}

